<!-- Compiled and minified CSS--> 
<mz-navbar>
  <mz-sidenav
  [id]="'sidenav-demo'"
  
  [collapseButtonId]="'btn-sidenav-demo'"
  [fixed]="'true'">
  <div class="dark-edition white-text">
    <div class="logo "  >   
        <a href="#" class="brand-logo center">Logo</a>
    </div>
    <li><div class="divider"></div></li>
        <li class="nav-item">
          <a class="nav-link white-text center" routerLinkActive="active" [routerLink]="['/chamados/novo']">Chamados Novo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white-text center" routerLinkActive="active" [routerLink]="['/chamados/detalhe']">Chamado detalhe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white-text center" routerLinkActive="active" [routerLink]="['/artigo/novo']">artigo novo</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link white-text center" routerLinkActive="active" [routerLink]="['/cursos']">Cursos</a>
        </li>       
  </div>
</mz-sidenav>
  <mz-navbar-item-container [align]="'right'">

   <mz-navbar-item><a class="nav-link" routerLinkActive="active" [routerLink]="['/chamados']">Cursos</a></mz-navbar-item>
    <mz-navbar-item><a class="nav-link" routerLinkActive="active" [routerLink]="['/artigos']">Artigos</a></mz-navbar-item>
    <mz-navbar-item></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
