 <mz-card
  class="blue-grey darken-1 white-text tx"
  [horizontal]="true"
  [hoverable]="true">
  <mz-card-title>
    Fazer login
  </mz-card-title>
  <mz-card-content>
  <div *ngIf="isLoginError" class="red-text center error-message">
      <i class="material-icons">error</i> Incorrect username or password
  </div>
    <mz-input-container>
 
      <input mz-input
        [label]="'E-mail'"
        [validate]="true"
        [dataError]="'Email inválido!'"
        [dataSuccess]="'Email Válido!'"
        id="E-mail-input"
        length="150"
        type="email"
        [(ngModel)]="User.username"
        >
        
    </mz-input-container>
  <mz-input-container>
    <input mz-input
    [label]="'Senha'"
    id="senha-input"
    length="150"
    type="password"
    [(ngModel)]="User.password"
    >
  </mz-input-container>
  </mz-card-content>
  <mz-card-action>

  <div class="row">
    <div class="input-field col s12">
      <button class="btn waves-effect waves-light btn-large col s12" 
      type="submit" name="action" (click)="login()">
      Login
    </button>
    </div>
  </div> 
  <div class="row">
    <div class="input-field col s6 m6 l6">
      <p class="margin medium-small"><a href="#">Registrar!</a></p>
    </div>
    <div class="input-field col s6 m6 l6">
        <p class="margin right-align medium-small"><a href="#">Recuperar Senha?</a></p>
    </div>          
  </div>
  </mz-card-action>
</mz-card>
