.card{
    margin-top: 50px;
}
.col{
    margin-top: 20px;
}

/* [Conteudo da Linha do tempo] */
.vtl {
    /* Relative is necessary to properly position the child elements within */
    position: relative;
    /* More space for the vertical line to the left */
    padding: 10px 10px 10px 50px;
    /* Width restriction if you want */
 
  }
  
  /* [Linha vertical] */
  .vtl::before {
    content: '';
    width: 5px;
    background-color: #DE421A;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
  }
  
/* [EVENT WRAPPER] */
div.ewrap {
    padding: 10px 0;
    position: relative;
    width: 100%;
  }
  
  /* [EVENT ITSELF] */
  div.event {
    padding: 20px 30px;
    background-color: #caf2f2;
    position: relative;
    border-radius: 6px;
  }
  
  /* [THE DATE & TEXT] */
  strong.date {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
  }
  p.text {
    margin: 0;
  }

/* [ADD SPEECH BUBBLE TRIANGLE] */
div.ewrap::before {
    content: '';
    border: 10px solid transparent;
    border-right-color: #caf2f2;
    border-left: 0;
    position: absolute;
    top: 20%;
    left: -10px;
  }
  
  /* [Adiciona um circulo a linha central] */
  div.ewrap::after {
    content: '';
    background: #fff;
    border: 4px solid #DE421A;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: -44px;
  }