<mz-card
class="blue-grey white"
[horizontal]="true"
[hoverable]="true">
<mz-card-title>
        <h3>Ver chamado</h3>
        <p>Este chamado foi aberto por um cliente. Aqui você pode responder ou atribuir o chamado</p>   
</mz-card-title>
<mz-card-content>
<mz-card
  class="blue-grey darken-1 white-text center"
  [horizontal]="true"
  [hoverable]="true">
  <mz-card-content>
        <h5>depart</h5>
      <div class="row">
          <div class="col s4">1<p>depart</p></div>
          <div class="col s4">2 <p>depart</p></div>
          <div class="col s4">3 <p>depart</p></div>
          <div class="col s4">1<p>depart</p></div>
          <div class="col s4">2 <p>depart</p></div>
          <div class="col s4">3 <p>depart</p></div>
      </div>
  </mz-card-content>

 
</mz-card>
<div class="vtl">
        <div class="ewrap">
          <div class="event">
            <strong class="date">11 Mar 2237 12:34</strong>
            <p class="text">
              Evil Cates invaded planet Doge.
            </p>
          </div>
        </div>
        <div class="ewrap">
          <div class="event">
            <strong class="date">12 Mar 2237 14:23</strong>
            <p class="text">
              Cates ate Doge food.
            </p>
          </div>
        </div>
        <div class="ewrap">
          <div class="event">
            <strong class="date">13 Mar 2237 20:12</strong>
            <p class="text">
              Cates took over the Doge beds.
            </p>
          </div>
        </div>
        <div class="ewrap">
          <div class="event">
            <strong class="date">14 Mar 2237 08:11</strong>
            <p class="text">
              Hoomans to the rescue.
            </p>
          </div>
        </div>
        <div class="ewrap">
          <div class="event">
            <strong class="date">15 Mar 2237 14:27</strong>
            <p class="text">
              Evil cates gone. Victory for good boys and girls.
            </p>
          </div>
        </div>
      </div>
</mz-card-content>
</mz-card>
