.container {
    position: relative;
    display: block;
    z-index: 3;
}
@media screen and (min-width: 992px){
    .container {
        margin-left: 310px;
    }
    }
    @media screen and (min-width: 1200px){
        .container {
            margin-left: 360px;
        }
        }