<mz-card
class="blue-grey white"
[horizontal]="true"
[hoverable]="true">
<mz-card-title>
    <h4 class="center-align">Novo Chamado</h4>
</mz-card-title>
<mz-card-content >
    <form novalidate [formGroup]="form">
  <mz-input-container>
      <input mz-input
        [label]="'Titulo'"
        id="titulo"
        type="text" 
        formControlName="titulo"
        >          
    </mz-input-container>
    <mz-textarea-container>
   
        <textarea mz-textarea
          [label]="'Conteudo'"
          id="conteudo"            
          formControlName="conteudo"
          length="500"
          ></textarea>
      </mz-textarea-container>
      <mz-input-container>
          <input mz-input
            [label]="'Autor'"
            id="autor"
            type="text"     
            formControlName="autor" 
            >    
        </mz-input-container>
  <button mz-button (click)="salvar()">
    Salvar Novo Artigo
    <i class="material-icons right">send</i>
  </button>
</form>
</mz-card-content>
</mz-card>

