<mz-card 
class="blue-grey white"
[horizontal]="true"
[hoverable]="true">
<mz-card-title>
  <h4> Artigo:{{artigo.titulo}} </h4>
</mz-card-title>
<mz-card-content>
 {{artigo.descricao}}
  <span style="float:right">Última edição em {{artigo.updated_at}}</span>
</mz-card-content>
<mz-card-action>
    <a class="waves-effect waves-light btn blue" (click)="editar()">Editar </a>
    <a class="waves-effect waves-light btn red" (click)="excluir()">Excluir</a>
  </mz-card-action>
</mz-card>

   