/* You can add global styles to this file, and also import other style files */
#sidenav-demo{
    background-image: url('https://i.pinimg.com/originals/97/20/1c/97201c3b55cae3a2245e462d55a6c7ba.jpg');
    background-size: cover;
    background-position: center center;

}
.dark-edition{
    background: #1f283e;
    opacity: .94;
	height:100%;
}