<mz-collection *ngIf="(artigos$ | async | paginate: { itemsPerPage: 15, currentPage: p }) as artigos; else loading">
    <mz-collection-header><h5 class="center-align">Lista de Chamados</h5></mz-collection-header>

    <mz-collection-item  *ngFor="let artigo of artigos" >{{artigo.titulo}}
        <a [routerLink]="['/artigos',artigo.id]"><i class="material-icons right" >send</i></a>
    </mz-collection-item>
</mz-collection>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
      <button mz-button style="float: right" (click)="clicar()">
          Novo Artigo
          <i class="material-icons right">send</i>
        </button>

    <ng-template #loading>
        <div class="card-panel green darken-3 white-text"> <span>Carregando Artigos...</span></div>
    </ng-template>

