<mz-card
class="blue-grey white"
[horizontal]="true"
[hoverable]="true">
<mz-card-title>
    <h4 class="center-align">Chamados</h4>
</mz-card-title>
<mz-card-content>
    <table class="striped responsive-table" *ngIf="(chamados$ | async) as chamados">
        <thead>
          <tr>
            <th>Número</th>
            <th>Título</th>
            <th>Prioridade</th>
			      <th>Departamento</th>
			      <th>Autor</th>
            <th>Data</th>
            <th></th>
          </tr>
        </thead>
        <tbody>        
            <tr *ngFor="let chamado of chamados">
            <td>{{chamado.id}}</td>
            <td>{{chamado.titulo}}</td>
            <td><span class="badge white-text">{{chamado.prioridade}}</span></td>
			      <td>{{chamado.id}}</td>
			      <td>{{chamado.id}}</td>
            <td>{{chamado.id}}</td>
            <td><a><i class="material-icons right" >send</i></a></td>
          </tr>       
        </tbody>
      </table>
      <button mz-button style="float: right" >
         Novo Chamado
       <i class="material-icons right">send</i>
      </button>
    </mz-card-content>
  </mz-card>
  
